.logo {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    &__span {
            color: var(--hoover-color);
        }
    
    &--black {
        color: var(--main-color);
    }

    &--white {
            color: var(--additional-color);
        }
}





