:root {
    --main-color: #212121;
    --text-color: #757575;
    --additional-color: #ffffff;
    --hoover-color: #2196f3;
    --hoover-color-main-button: #188ce8;
    --border-coloor: #ececec;
    --icon-color: #afb1b8;
    --main-background-color: #ffffff;
    --footer-background-color: #2f303a;
    --additional-background-color: #f5f4fa;
    --hero-background-color: #c4c4c4;
}
