.footer {
    padding: 60px 0;

    background-color: var(--footer-background-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer__main {
    margin-right: 70px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer__address {
    width: 231px;
    margin-bottom: 9px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--additional-color);
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--hoover-color);
    }
}

.connect__tittle {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--additional-color);
}

.connect__socialMedia {
    margin-right: 93px;
}

.subscribe__tittle {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--additional-color);
}

.subscribe__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.subscribe__field {
    width: 358px;
    height: 50px;
    padding: 0 16px;

    color: var(--additional-color);
    background-color: transparent;
    outline: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        border: 1px solid #008000;
        -webkit-text-fill-color: var(--additional-color);
        transition: background-color 5000s ease-in-out 0s;
    }
}

.subscribe__button {
    gap: 10px;
}